body {
	display: flex;
}

#screen{
	align-items: center;
	text-align: center;
	font-size: 25px;
	border: 5px black solid;
	width: 800px;
	height: 500px;
}

#startBtn{
	height: 500px;
	width: 800px;
	background-color: skyblue;
	border: none;
	color: balck;
	padding: 0;
	align-items: center;
	text-decoration: none;
	font-size: 100px;
	margin: 0;
	cursor: pointer;
}

#memo{
	height: 500px;
	width: 700px;
	text-align: center;
}

.btn{
	width:100px;
	background-color: skyblue;
	border: none;
	color: balck;
	padding:15px 0;
	align-items: center;
	text-decoration: none;
	font-size: 15px;
	margin: 4px;
	cursor: pointer;
}

#box {
	width: 150px;    
         	height: 150px;    
         	border: 1px solid #aaaaaa;
	
}

#box > img {
	padding: 0 !important;
}

